*{
	margin: 0px;
	padding: 0px;
}
.obox{
	width: 390px;
	height: 100%;
	margin: auto;
}
.box1{
	width: 390px;
	height: 200px;
	color: #FFD471;
	background-image: url(../img/九宫格_02.png);
	background-repeat: no-repeat;
	background-size: 390px;
	position: relative;
	text-align: center;
}
.box1 span{
	position: relative;
	top: 180px;
}
.box2{
	width: 320px;
}
.box21{
	width: 320px;
	height: 320px;
	border: solid 5px #F1301E;
	margin-top: 20px;
	margin-left: 30px;
	background: white;
}
.box22{
	width: 320px;
	height: 50px;
	background-repeat: no-repeat;
	background-image: url(../img/a2.png);
	background-size:320px ;
	color: #FFD06E;
	font-size: 24px;
	text-align: center;
	line-height: 50px;
	margin-left: 35px;
	margin-top: 20px;
}
.box3{
	width: 390px;
	height: 30px;
	background-image: url(../img/ft.jpg);
	background-repeat: no-repeat;
	background-size: 390px;
	margin-top: 30px;
}
.obx {
	position: fixed;
	width: 100%;
	height: 100vh;
	top: 0;
	left: 0;
	background: rgba(0, 0, 0, 0.5);
	display: none;
}
.box4 {
	width: 320px;
	height: 250px;
	border-radius: 15px;
	position: fixed;
	top: 150px;
	left: 4vh;
	background: white;
	display: none;
}

.box4 * {
	background: white;
}

.box4 h3 {
	border-top: solid 1px #ccc;
	text-align: center;
	border-radius: 15px;
}

.box4 p {
	margin: 10px;
}
.box41 {
	width: 320px;
	height: 220px;
	overflow: auto;
	border-radius: 15px;
}